# Normal Build ignores
*node_modules/
*package-lock.json

# Client
# Logs
**logs
**.log
**npm-debug.log*

client/dist/
client/dev-dist/
**.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.idea
*.DS_Store
**.suo
**.ntvs*
**.njsproj
**.sln
**.sw?
