.accordion-button:not(.collapsed) {
    background-color: #b4c69d9a;
}

.accordion-button{
    background-color: #b4c69d;
    width: 98%;
    border-radius: 20px;
}

.accordion-body {
    border: 10px solid rgb(255, 255, 255);
    border-radius: 20px;
  }