.booking-container {
  display: flex;
  align-items: stretch; 
  justify-content: center;
  padding: 20px;
  width: 70%;
  height: 80vh;
  padding-left: 15vw;
}

.booking-image {
  flex: 1;
  object-fit: cover; 
  width: 0.5%; 

}

.booking-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-right: 50px;
  background-color: #D8E7CB; 
}

.booking-form-title {
  font-family: "DM Serif Display", serif;
  color: black;
  font-size: 2.5rem;
  border-bottom: 1px solid #0000003f;
  margin-bottom: 20px;

}

.booking-form-subtitle {
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 30px;
}

.form-section {
  margin-bottom: 10px;
}

.form-section label {
  display: block;
  margin-bottom: 5px;
}

.form-section input,
.form-section select {
  box-sizing: border-box; 
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.booking-button {
  padding: 10px 20px;
  background-color: #446732; 
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
