.bookings-table {
  font-size: 100%;
  width: 100%;
  border-collapse: separate;
}
@media (max-width: 345px) {
  .bookings-table {
    font-size: 70%;
    width: 50%;
    border-collapse: separate;
  }
}

@media (max-width: 490px) {
  .bookings-table {
    font-size: 50%;
    width: 100%;
    border-collapse: separate;
  }
  .bookings-table th,
  .bookings-table td {
    padding: 0.1rem;
    border-bottom: 1px solid #ddd;
  }
  .bookings-table button {
    display: flex;
    flex-direction: row;
    font-size: 10%;
    background: #a0c982;
    border: none;
    cursor: pointer;
    outline: none;
    padding-left: 0.6rem !important;
  }
}

.bookings-table th,
.bookings-table td {
  padding: 0.2rem;
  border-bottom: 1px solid #ddd;
}

.bookings-table th {
  background-color: #a0c982;
}

.bookings-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.bookings-table tbody tr:hover {
  background-color: #ddd;
}

.bookings-table button {
  display: flex;
  flex-direction: row;
  align-content: center;
  color: black;
  font-size: 100%;
  background: #a0c982;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 1.1rem;
}
