@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.court-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30vw;
}

  
  .court-option {
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #A2B798;
    color: #3E493B;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  

  
  .selected {
    background-color: #A0CFD0; 
  }
  
  /* Court Availability colour key*/
  .court-availability {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Color key */
  .court-availability span {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
  }
  
  /* Avaliable court colour */
  .available {
    background-color: #A2B798; 
  }
  
  /* Not available court colour*/
  .not-available {
    background-color: #f4e1e2; 
  }
  
  /* Selected court colour */
  .selected-indicator {
    background-color: #A0CFD0; 
  }
  

  .indoor-court {
    width: 310px;
    height: 100px;
  }
  
  .clay-court {
    width: 100px;
    height: 110px;
  }
  
  .grass-court {
    width: 150px;
    height: 110px;
  }
  
