:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  color-scheme: light;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #283428;
  text-decoration: inherit;
}
a:hover {
  color: #283428;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  /* border-radius: 8px; */
  /* border: 1px solid transparent; */
  border: none;
  border-radius: 15px;
  background: #3e4a36;
  color: white;
  padding: 15px 10vh;
  /* padding: 0.6em 1.2em; */
  font-size: 20px;
  /* font-size: 1em; */
  /* font-weight: 500; */
  /* font-family: inherit; */
  /* background-color: #f9f9f9; */
  cursor: pointer;
  /* transition: border-color 0.25s; */
  margin: 8px;
}

button:hover {
  border-color: #283428;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 864px) {
  input[type="button"] {
    padding: 15px 10vw;
    font-size: 15px;
  }
}
