.profile-container {
    display: flex;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    border-top: 1px solid #ccc;
  }

  .sidebar {
    flex: 0 0 200px;
    border-right: 1px solid #ccc;
    padding: 1em;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 0.5em 0;
  }
  
  .profile {
    padding: 1em;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
  }

  .profile .header-title {

    font-size: 2em;
    font-weight: bolder;
    margin-left: 40px;
    margin-bottom: 40px;
  }
  
  .profile-picture button {
    background: #383e39;
    color: white;
    border: none;
    padding: 0.5em 1em;
    margin-left: 1em;
    cursor: pointer;
  }
  
  .profile-form label {
    display: block;
    margin-bottom: 1px;
    text-align: left;
    margin-left: 40px;
  }

  .profile-form input[type="text"]{
    margin-left: 40px;
    margin-top: 0.5em;
    background-color: #e8e9e6; 
    color: black; 
    transition: background-color 0.3s; 
    height: 30px;
    width: 500px;
    border-radius: 8px;
    border: 1px solid grey;
    margin-bottom: 30px;
}

.profile-form input[type="text"]:focus,
.profile-form select:focus {
  background-color: #ffffff; 
  color: #fff;
  border: 1px solid #777;
}
  
  .profile-form input[type="text"],
  .profile-form select,
  .profile-form textarea {
    padding: 0.5em;
    margin-top: 0.5em;
  }
  
  .profile-form textarea {
    height: 100px;
    background-color: #ffffff; 
    color: #fff; 
    border: 1px solid #555;
    transition: background-color 0.3s;
  }
  
  .profile-form textarea:focus {
    background-color: #555; 
    color: #fff;
    border: 1px solid #777;
  }
  
  .profile-image {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    object-fit: cover; 
  }
  
  .bookings-table {
    width: 5vw;
    border-collapse: collapse;
}

.bookings-table th,
.bookings-table td {
  border: 1px solid #dde0d5; 
  padding: 0.5vw;
  text-align: left;
}

.bookings-table th {
  background-color: #e7f1e3; 
}

@media (max-width: 900px) {
  h3 {
    font-size: 15px;
  }

  .sidebar {
    flex: 0 0 30px;
  }

  .sidebar ul {
    font-size: 10px;
  }

  .profile-image {
    width: 70px; 
    height: 70px;
  }
}