.profile-container {
  display: flex;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  border-top: 1px solid #ccc;
  margin: 0 auto;
}

.sidebar {
  flex: 0 0 150px;
  border-right: 1px solid #ccc;
  font-size: 1rem;
  padding: 0.5rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 0.5em 0;
}

.profile {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

.profile .header-title {
  font-size: 2rem;
  font-weight: bolder;
  margin-left: 40px;
  margin-bottom: 40px;
  margin: 0 auto;
}

.profile-picture button {
  background: #383e39;
  color: white;
  border: none;
  padding: 0.5em 1em;
  margin-left: 1em;
  cursor: pointer;
}

.profile-form label {
  display: block;
  margin-bottom: 1px;
  text-align: left;
  margin-left: 40px;
}

.profile-form input[type="text"] {
  margin-left: 40px;
  margin-top: 0.5em;
  background-color: #e8e9e6;
  color: black;
  transition: background-color 0.3s;
  height: 30px;
  width: 500px;
  border-radius: 8px;
  border: 1px solid grey;
  margin-bottom: 30px;
}

.profile-form input[type="text"]:focus,
.profile-form select:focus {
  background-color: #ffffff;
  color: #fff;
  border: 1px solid #777;
}

.profile-form input[type="text"],
.profile-form select,
.profile-form textarea {
  padding: 0.5em;
  margin-top: 0.5em;
}

.profile-form textarea {
  height: 100px;
  background-color: #ffffff;
  color: #fff;
  border: 1px solid #555;
  transition: background-color 0.3s;
}

.profile-form textarea:focus {
  background-color: #555;
  color: #fff;
  border: 1px solid #777;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.bookings-table {
  width: 4.5vw;
  border-collapse: collapse;
}

.bookings-table th,
.bookings-table td {
  border: 1px solid #dde0d5;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: left;
  width: 1.5vw;
  font-size: 1.5vw;
}

.bookings-table th {
  background-color: #e7f1e3;
}

.logoutBtn {
  /* border-radius: 8px; */
  /* border: 1px solid transparent; */
  border: none;
  border-radius: 15px;
  background: #3e4a36;
  color: white;
  padding: 15px;
  /* padding: 0.6em 1.2em; */
  font-size: 100%;
  /* font-size: 1em; */
  /* font-weight: 500; */
  /* font-family: inherit; */
  /* background-color: #f9f9f9; */
  cursor: pointer;
  /* transition: border-color 0.25s; */
  margin: 8px;
}

.cancel-button {
  background-color: #3e4a36;
  color: white;
  padding: 1vw 1vw;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1.5vw;
}

@media (max-width: 900px) {
  h3 {
    font-size: 15px;
  }

  .sidebar {
    flex: 0 0 30px;
  }

  .sidebar ul {
    font-size: 10px;
  }

  .profile-image {
    width: 10vw;
    height: 10vw;
  }

  .bookings-table th,
  .bookings-table td {
  border: 1px solid #dde0d5;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  text-align: left;
  width: 1.5vw;
  font-size: 2vw;
}
}

@media (max-width: 541px) {
  .bookings-table th,
  .bookings-table td {
    border: 1px solid #dde0d5;
    text-align: left;
  }

  .profile {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.table-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
