.time-selector-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .time-slot {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none; 
  }
  
  .time-slot.selected {
    font-weight: bold;
    background-color: rgb(24, 51, 10);
    color: white;
    border-radius: 10px;
  }